In [3]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('data/guide_reference-Kat7_dual_guide.csv')

In [15]:
df.head()

             Gene         gRNA_complete Position
0     Curate_NT_1  CACGGGCAGCGATCTAGTTG       G1
1     Curate_NT_2  CTTCACGCCTTGGACCGATA       G1
2  Curate_safe_16  AGTACACTATAGTGGCTAGT       G1
3  Curate_safe_37   ATGTAGGAGCTATAACATC       G1
4            Ing5  CTAGACCAGAGAACAGAAGG       G1

In [16]:
df_sub1 = df[~df.Gene.str.contains('Spikein')].copy()
df_sub1.head()

             Gene         gRNA_complete Position
0     Curate_NT_1  CACGGGCAGCGATCTAGTTG       G1
1     Curate_NT_2  CTTCACGCCTTGGACCGATA       G1
2  Curate_safe_16  AGTACACTATAGTGGCTAGT       G1
3  Curate_safe_37   ATGTAGGAGCTATAACATC       G1
4            Ing5  CTAGACCAGAGAACAGAAGG       G1

In [ ]:
df_sub1[df_sub1.Gene.str.contains('Curate_')]
df_sub1.Gene.replace('Curate_','')

In [11]:
df_sub2 = df[df.Gene.str.contains('Spikein')].copy()
df_sub2

         Gene         gRNA_complete Position
40  Spikein_1    ACCTTACAATGTTATATT       G1
41  Spikein_2   GTGACACTTTCTATTAGGT       G1
42  Spikein_3  CCTTGAAATCAAATCAAACC       G1
43  Spikein_4   GTGACACTTTCTATTAGGT       G2